<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Cleo v.s. Pita</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
    <div class="row d-flex justify-content-center mt-md-5">
        <h1>VOTE - IT'S YOUR CIVIC DUTY</h1>
    </div>
        <div class="row justify-content-center">
            <div name="container-gummi" class="mt-md-5">
                <div class="mx-auto px-4">
                  <img height="400" src="https://pita-cleo.s3.us-east-2.amazonaws.com/IMG_4586.JPG"><br>
                  <div class="d-flex justify-content-center mt-md-4">
                    <form action='add'>
                      <button class="btn btn-primary btn-lg mx-top-4" style="width: 200px;" type="submit"
                          name="voteSubmit" value="Gummi">Vote for Fruit Gummi!</button>
                    </form><br>
                  </div>
                  <div class="btn-lg d-flex justify-content-center">
                    Current votes: {{gummi_votes}}
                  </div>
                </div>
            </div>

            <div name="container-pita" class="mt-md-5">
                <div class="mx-auto px-4">
                    <img height="400" src="https://pita-cleo.s3.us-east-2.amazonaws.com/IMG_2090.jpeg"><br>
                    <div class="d-flex justify-content-center mt-md-4">
                      <form action="add">
                        <button class="btn btn-primary btn-lg " style="width: 200px;" type="submit"
                         name="voteSubmit" value="Pita">Vote for Pita!</button>
                      </form><br>
                      </div>
                      <div class="btn-lg d-flex justify-content-center">
                        Current votes: {{pita_votes}}
                      </div>
                </div>
            </div>
        </div>
</body>
</html>
